$lightGreen: #94c53e;
$green: #115757;
$purple: #82277c;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: #333;
$grey-light: #a2a2a2;
$primary: $lightGreen;
$success: $green;
$link: $purple;
$widescreen-enabled: true;
$fullhd-enabled: true;
// $footer-background-color: $purple;

// Update some of Bulma's component variables
$body-background-color: #f2f2f2;
$control-border-width: 2px;
$input-border-color: transparent;